{% extends 'admin/adminbase.html' %}
{% load static %}

{% block body %}
<style>

::-webkit-scrollbar {
width: 10px;
height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #191c24;
}

/* Handle */
::-webkit-scrollbar-thumb {
background:#4e4376;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
input[type=text],.t{
background-color: #ffffff;
border: 1px solid rgba(177, 22, 22, 0.747);
color: rgb(0, 0, 0);
}
input[type=text]:focus,.t:focus{
background-color: #555;
color: white;
}
</style>

   
            <h1 class="mt-4 text-primary text-center pt-5">Add vacancy</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"></li>
            </ol>
            <div class="row">
              <div class="col-xl-2"></div>
                <div class="col-xl-8">
                      <div class="card p-3 text-light" style="background-color: #5b7ea0;">
                        <div class="card-body text-light" >
                          <form  action="#" method="post" >
                            {% csrf_token %}
                          
                              <div class="form-group">
                                <label for="inputName">Job Title</label>
                                <input type="text" class="form-control" name="title" style="text-transform: capitalize;" required />
                                <small class="form-text text-muted"></small>
                              </div>
                              <div class="form-group mt-3">
                                <label for="inputName">Job type</label>
                                <input type="text" class="form-control" name="type" style="text-transform: capitalize;" required />
                                <small class="form-text text-muted"></small>
                              </div>
                              <div class="form-group mt-3">
                                <label for="inputName">Experience(in years)</label>
                                <input  type="text" class="form-control" name="exp" style="text-transform: capitalize;" required />
                                <small class="form-text text-muted"></small>
                              </div>
                              <div class="form-group mt-3">
                                <label for="inputName">Company Location</label>
                                <input type="text" class="form-control" name="location" style="text-transform: capitalize;" required />
                                <small class="form-text text-muted"></small>
                              </div>
                              <div class="form-group mt-3">
                                <label for="inputName">Qualifications</label>
                                <textarea class="form-control t" name="quali" rows="2" style="text-transform: capitalize;" required ></textarea>
                                <small class="form-text text-muted"></small>
                              </div>
                              <div class="form-group mt-3">
                                <label for="inputName">Skills Required</label>
                                <textarea class="form-control t" name="skill" rows="2" style="text-transform: capitalize;" required ></textarea>
                                <small class="form-text text-muted"></small>
                              </div>  
                              <br> 
                              <button class="btn  btn-block col-lg-2 btn-danger" type="submit">Add</button><br>
                      </form>
                        </div></div></div></div>

                    
                         
      
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script>
window.addEventListener('DOMContentLoaded', event => {

// Toggle the side navigation
const sidebarToggle = document.body.querySelector('#sidebarToggle');
if (sidebarToggle) {
// Uncomment Below to persist sidebar toggle between refreshes
// if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
//     document.body.classList.toggle('sb-sidenav-toggled');
// }
sidebarToggle.addEventListener('click', event => {
event.preventDefault();
document.body.classList.toggle('sb-sidenav-toggled');
localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
});
}

});

</script>
<script>
window.addEventListener('DOMContentLoaded', event => {
// Simple-DataTables
// https://github.com/fiduswriter/Simple-DataTables/wiki

const datatablesSimple = document.getElementById('datatablesSimple');
if (datatablesSimple) {
new simpleDatatables.DataTable(datatablesSimple);
}
});

</script>
<script>
function myFunction() {
var input, filter, table, tr, td, i, txtValue;
input = document.getElementById("search");
filter = input.value.toUpperCase();
table = document.getElementById("myTable");
tr = table.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[1];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
  td1 = tr[i].getElementsByTagName("td")[4];
    if (td1) {
      txtValue = td1.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
}
}
</script>

{% endblock %}